/************ GENERAL SETTINGS START ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
}

img {
  width: 100%;
}

/************ GENERAL SETTINGS END ************/

/************ TYPOGRAPHY & FONT STYLING START ************/

h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  color: #006aff;
}
h2 {
  margin-top: 20px;
}
h2,
h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #006aff;
  margin-bottom: 20px;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #006aff;
}

label {
  color: #2a2a33;
  font-family: "Source Sans Pro", sans-serif;
  font-style: bold;
  font-weight: 500;
  font-size: 14px;
}

p,
a {
  color: #2a2a33;
  -webkit-font-smoothing: antialiased;
  text-transform: none;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-style: bold;
  font-weight: 300;
  font-size: 15px;
}

/************ TYPOGRAPHY & FONT STYLING END ************/

/************ NAV START ************/
nav {
  width: 100%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px rgb(226, 226, 226);
}

nav div {
  flex-grow: 1;
  flex-basis: 300px;
}
.nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_logo img {
  width: 40%;
}

.active_link {
  border-bottom: 4px solid #006aff;
  border-radius: 2px;
}

.menulinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/************ NAV END ************/

/************ USER PROFILE START ************/
.user_profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

/************ USER PROFILE END ************/

/************ HOME START ************/
.upload_item_button p {
  color: #006aff;
  text-decoration: underline;
  font-size: 18px;
  text-align: end;
}
/************ HOME END ************/

/************ FORMS START ************/

form {
  width: 100%;
}

.header {
  margin-top: 30px;
  margin-bottom: 20px;
}

input {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #f6f6fa;
  border: 1px solid rgb(209, 209, 213);
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

/************ FORMS END ************/

/************ SIGNUP/LOGIN START ************/
.logo {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(assets/splash1.webp);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}
/************ SIGNUP/LOGIN END ************/

.form_container {
  margin: 50px;
  padding: 20px 50px 50px 50px;
  border: 1px solid rgb(209, 209, 213);
  border-radius: 5px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.user_container {
  padding: 4rem;
}

.items-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_nav,
.items_nav {
  width: 100%;
}

a {
  text-decoration: none;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
}

.button_container {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d8d8e0;
  padding-bottom: 10px;
  border-radius: 2px;
}

.password_criteria {
  padding-left: 10px;
}
.password_criteria p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: normal;
}

button,
.login_button,
.signup_button {
  margin-top: 20px;
  width: 100%;
  background-color: #006aff;
  color: white;
  border: 1px solid #006aff;
  border-radius: 5px;
  padding: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: bold;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.error {
  font-size: 15px;
  margin-top: 10px;
  color: red;
}

/************ FORGOT PASSWORD & RESET PASSWORD PAGES START ************/
.forgot_password_page,
.reset_password_page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.free_logo {
  width: 15%;
}
/************ FORGOT PASSWORD & RESET PASSWORD PAGES END ************/

/************ ITEMS START ************/

#items_container,
#other_items_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
}

.item {
  position: relative;
  background-color: #fff;
}

.delete_item_button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 0.5px #00000035;
}
.item_info {
  padding: 0 10px;
}

.item_info h4 {
  margin-bottom: 10px;
}
.edit_item_button {
  text-align: end;
}
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
}

/* Upload item modal & Update Item modal */
.upload_item_modal,
.update_item_modal {
  width: 30vw;
  padding: 20px 50px 50px 50px;
  background-color: white;
}
.close_upload_item_modal,
.close_update_item_modal {
  margin-top: 5px;
  text-align: end;
  cursor: pointer;
}
#upload_item_form,
#update_item_form {
  padding-top: 20px;
}
.delete_item_button,
.edit_item_button,
.upload_item_button {
  cursor: pointer;
}

.center_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************ ITEMS END ************/
